@model FollowUpForm

@{
    ViewData["Title"] = "Create Follow-Up Form";
}

<h1>Create Follow-Up Form</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Question1">Question 1</label>
        <textarea class="form-control" id="Question1" name="Question1"></textarea>
    </div>
    <div class="form-group">
        <label for="Question2">Question 2</label>
        <textarea class="form-control" id="Question2" name="Question2"></textarea>
    </div>
    <div class="form-group">
        <label for="Question3">Question 3</label>
        <textarea class="form-control" id="Question3" name="Question3"></textarea>
    </div>
    <div class="form-group">
        <label for="Question4">Question 4</label>
        <textarea class="form-control" id="Question4" name="Question4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
