
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Information</h1>

<body>
    <section id="learn">
        <h1 class="title">Learn about blood donation</h1>
        <div class="square-container">
            <div class="square">
                Who can donate?<br><br>Usually, blood donors need to be between 18 and 65 years old. Some places may allow 16- or 17-year-olds to donate with parental consent.
                <br>Donors typically need to weigh at least 110 pounds (50 kg).<br>
                Donors should be in good health with no major illnesses or infections. Certain chronic conditions or recent surgeries might disqualify a person from donating temporarily.<br>
                There's usually a minimum hemoglobin level requirement to ensure that the donor can safely give blood.
            </div>
            <div class="square">
                How often can someone donate?<br><br>Whole Blood Donation:Typically, individuals can donate whole blood every 8 weeks (56 days).<br>
                Power Red Donation (Double Red Cell Donation):This type of donation allows you to donate two units of red blood cells in one session. The waiting period is longer, usually every 16 weeks (112 days).<br>
                Platelet Donation: Platelet donations can be done more frequently, often every 7 days, but there may be an annual limit due to potential impact on platelet count.
            </div>
            <div class="square">
                what are the benifits of donation?<br><br>Saves Lives: Donating blood directly contributes to saving lives during medical treatments, surgeries, and emergencies.<br>
                Cardiovascular Health: Regular donation can improve cardiovascular health by maintaining healthy blood flow.<br>
                Free Health Check: Donors undergo health screenings, offering a free check for blood pressure, pulse, and hemoglobin levels.<br>
                Community Contribution: A simple way to contribute to the well-being of the community and promote social responsibility.
            </div>
            <div class="square"><img src="~/photos/blood table.jpg" class="cell-table"> </div>
            <br>
    </section>
</body>